@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to StrazzGPT</h1>
    <p>Click  <a asp-controller="Chat" asp-action="Chat">Here</a> to chat with Strazz.</p>
</div>


