html {
    font-size: 14px;
    background-color: #333;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.model-content{
    background-color: #333 !important;
}

.nav-link{
    color: gold !important;
}

.container {
    min-width: 100%;
    background-color: #333;
}

.mb-3{
    margin-bottom: 0 !important;
}

.bg-white{
    background-color: #333 !important;
}

.border-bottom{
    border-bottom: 1px solid gold !important;
}

header {
    background-color: #333;
}

.circular-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}